
<div class="container">
  <ul class="list-unstyled">
    <% @houses.each do |house| %>
    <li class="media">
      <img src="https://img17.shop-pro.jp/PA01273/059/product/134931945_th.jpg?cmsp_timestamp=20180908164923" class="m-3" style="width: 250px; height: auto;" alt="...">
      <div class="media-body">
        <h5 class="p-3"><%= link_to house.name, house_path(house) %></h5>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">場所</th>
              <td><%= house.address %></td>
            </tr>
            <tr>
              <th scope="row">アクセス</th>
              <td><%= house.access %></td>
            </tr>
            <tr>
              <th scope="row">家賃</th>
              <td>10万円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <% end %>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">次へ</a>
    </li>
  </ul>
</nav>