<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <title>(仮)ShareHouseドットコム</title>
  </head>

  <body>
    <div class="container pt-3 pb-3">
      <button type="button" class="btn btn-primary float-right">ログイン</button>
      
        <h1>
          (仮)ShareHouseドットコム
        </h1>
        
        <div class = "text-right">
          新規会員登録もこちら
        </div>
    </div>
    <div class="container">
      <ul class="list-unstyled">
        <li class="media">
          <img src="https://img17.shop-pro.jp/PA01273/059/product/134931945_th.jpg?cmsp_timestamp=20180908164923" class="m-3" style="width: 250px; height: auto;" alt="...">
          <div class="media-body">
            <h5 class="p-3">物件1</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">場所</th>
                  <td>東京都荒川区西日暮里 1丁目59-20</td>
                </tr>
                <tr>
                  <th scope="row">アクセス</th>
                  <td>ＪＲ山手線 西日暮里駅 徒歩7分</td>
                </tr>
                <tr>
                  <th scope="row">家賃</th>
                  <td>10万円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        
        <li class="media">
          <img src="https://www.hng.ne.jp/corpImg/114/case114-2_01S.jpg" class="m-3" style="width: 250px; height: auto;" alt="...">
          <div class="media-body">
            <h5 class="p-3">物件2</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">場所</th>
                  <td>東京都杉並区阿佐ヶ谷南 5-3-10</td>
                </tr>
                <tr>
                  <th scope="row">アクセス</th>
                  <td>ＪＲ阿佐ヶ谷駅 徒歩10分</td>
                </tr>
                <tr>
                  <th scope="row">家賃</th>
                  <td>6.2万円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        
        <li class="media">
          <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s1d11230f68ef1d16/image/i1d4f8ac95e484c3b/version/1360987433/%E3%82%AE%E3%82%B6%E3%81%AE%E4%B8%89%E5%A4%A7%E3%83%94%E3%83%A9%E3%83%9F%E3%83%83%E3%83%89%E3%81%A8%E7%8E%8B%E5%A6%83%E3%81%AE%E3%83%94%E3%83%A9%E3%83%9F%E3%83%83%E3%83%89.jpg" class="m-3" style="width: 250px; height: auto;" alt="...">
          <div class="media-body">
            <h5 class="p-3">物件3</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">場所</th>
                  <td>カイロ</td>
                </tr>
                <tr>
                  <th scope="row">アクセス</th>
                  <td>ＪＲ山手線 カイロ駅 徒歩30分</td>
                </tr>
                <tr>
                  <th scope="row">家賃</th>
                  <td>100万円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
  </div>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">次へ</a>
      </li>
    </ul>
  </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>