<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <title>(仮)ShareHouseドットコム</title>
  </head>

  <body>
    <div class="container pt-3 pb-3">
      <button type="button" class="btn btn-primary float-right">ログイン</button>
        <h1>
          (仮)ShareHouseドットコム
        </h1>
        
        <div class = "text-right">
          新規会員登録もこちら
        </div>
    </div>
    <div class="container">
      <ul class="list-unstyled">
        <li class="media col-10">
          <img src="https://www.google.co.jp/maps/preview" class="img-fluid" alt="https://www.google.co.jp/maps/preview">
        </li>
    </div>

<div class="container">
  <h5 class>家賃</h5>
  <form class="form-inline">
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>25000円</option>
      <option value="1">26000円</option>
      <option value="2">27000円</option>
      <option value="3">28000円</option>
    </select>
    
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">~</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option selected>25000円</option>
      <option value="1">26000円</option>
      <option value="2">27000円</option>
      <option value="3">28000円</option>
    </select>
  </form>
  
  <div class="media-body">
   <h5 class="p-2">条件</h5>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">性別</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>性別を選択</option>
                <option value="1">男性専用</option>
                <option value="2">女性専用</option>
                <option value="3">男性多め</option>
                <option value="4">女性多め</option>
              </select>
            </td>
            <th scope="row">タイプ</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>部屋のタイプを選択</option>
                <option value="1">個室</option>
                <option value="2">ドミトリー</option>
                <option value="3">ルームシェア</option>
              </select>
            </td>
            <th scope="row">空き状況</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>部屋の空き状況を選択</option>
                <option value="1">空き</option>
                <option value="2">空室予定</option>
                <option value="3">満室</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">職種</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>職種を選択</option>
                <option value="1">学生</option>
                <option value="2">事務職</option>
                <option value="3">営業</option>
                <option value="3">企画</option>
                <option value="3">エンジニア</option>
                <option value="3">公務員</option>
              </select>
            </td>
            <th scope="row">年代</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>年代を選択</option>
                <option value="1">10代多め</option>
                <option value="2">20代多め</option>
                <option value="3">30代多め</option>
                <option value="4">40代多め</option>
                <option value="5">50代多め</option>
                <option value="6">60代多め</option>
              </select>
            </td>
            <th scope="row">その他</th>
            <td>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>その他を選択</option>
                <option value="1">駅近</option>
                <option value="2">家賃安め</option>
                <option value="3">住人少なめ</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">次へ</a>
      </li>
    </ul>
  </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>